@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  --primary-color: #223611;
  --secondary-color: #d3c593;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
