@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: "Reddit sans" !important;
  font-optical-sizing: auto;
  font-style: normal;

  --primary-color: #223611;
  --secondary-color: #d3c593;
}

#root {
  width: 100%;
  height: 100%;
  font-family: "Reddit sans" !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.tag {
  background-color: #223611;
  border-radius: 16px;
  color: #fff;
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: .0375rem;
  line-height: 1;
  margin: 7px  5px;
  padding: 6px 10px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.tag:hover {
  background-color: #395a1c;
}

.is-active {
  background-color: #4f7c27;
}
.tag.is-active:before {
  background-color: #4f7c27;
  bottom: 0;
  content: "";
  height: 10px;
  left: 50%;
  margin: 0 0 -4px -5px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}